        {{#each categories}}
        <section class="content-main">
            <form action="/admin/category-edit?id={{this._id}}" method="post">
        {{/each}}


            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Category</h2>
                        <h3>
                        <span class="form-check-label text-danger">Delete: </span>
                        <input type="checkbox" name="softdel" class="form-check-input text-danger " {{#if delete}} checked {{/if}} >
                        </h3>
                        
                        <div>
                            <!--
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            -->
                            <button class="btn btn-md rounded font-sm hover-up" type="submit" >Save</button>
                            
                        </div>
                    </div>
                    <div  class=" text-danger">
                        <h4 class=" text-danger">{{message}}</h4>
                    </div>  
                </div>
            </div>
            {{#each categories}}

            

            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>Details</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Category name</label>
                                        <input name="name" type="text" value="{{this.name}}" class="form-control">
                                    </div>
                                    
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>



            </form>

        </section> <!-- content-main end// -->
        {{/each}}

