<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Orders</h2>
            <p id="count"></p>
            <p id="subtotal"></p>
            <p id="discount"></p>
            <p id="total"></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." id="search" name="search" onchange="filter()" class="form-control">
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <a href="#" class="btn btn-md rounded font-sm" onclick="exportpdf()">Export pdf</a>
                            <a href="#" class="btn btn-md rounded font-sm" onclick="exportcsv()">Export csv</a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select onchange="filter()" class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select onchange="filter()" id="limit" name="limit"  class="form-select">
                                <option value="10">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="30">Show 30</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer name</th>
                                    <th>Subtotal</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-3">Filter by</h5>
                    <form>
                        {{!-- <div class="mb-4">
                            <label for="order_id" class="form-label">Order ID</label>
                            <input type="text"  onchange="filter()" placeholder="Type here" class="form-control" id="order_id">
                        </div>
                        <div class="mb-4">
                            <label for="order_customer" class="form-label">Customer</label>
                            <input type="text"  onchange="filter()" placeholder="Type here" class="form-control" id="order_customer">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Order Status</label>
                            <select onchange="filter()" class="form-select">
                                <option>Published</option>
                                <option>Draft</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="order_total" class="form-label">Total</label>
                            <input type="text" onchange="filter()" placeholder="Type here" class="form-control" id="order_total">
                        </div> --}}
                        <div class="mb-4">
                            <label for="startDate" class="form-label">startDate</label>
                            <input type="text" onchange="filter()" class="form-control datepicker" id="startDate"  data-date-end-date="#endDate">
                        </div>
                        <div class="mb-4">
                            <label for="endDate" class="form-label">endDate</label>
                            <input type="text" onchange="filter()" class="form-control datepicker" id="endDate"  data-date-start-date="#startDate">
                        </div>
                        {{!-- <div class="mb-4">
                            <label for="order_customer_1" class="form-label">Customer</label>
                            <input type="text" onchange="filter()" placeholder="Type here" class="form-control" id="order_customer_1">
                        </div> --}}
                    </form>
                </div>
            </div> <!-- card end// -->
        </div>
    </div>
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start" id="page">
                
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->


<script src="../admin/assets/js/orderFilter.js"></script>
