<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Error | Shopery</title>
        <link rel="icon" type="image/png" href="src/images/favicon/favicon-16x16.png" />
        <link rel="icon" type="image/png" href="src/images/favicon/favicon-16x16.png" />
        <link rel="stylesheet" href="src/lib/css/swiper-bundle.min.css" />
        <link rel="stylesheet" href="src/lib/css/bvselect.css" />
        <link rel="stylesheet" href="src/lib/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="src/css/style.css" />
    </head>

    <body>
        {{{body}}}
        <div class="loader">
            <div class="loader-icon">
                <img src="src/images/loader.gif" alt="loader" />
            </div>
        </div>
        
        <section class="section section--xl error">
            <div class="container">
                <div class="error__content">
                    <div class="error__content-img">
                        <img src="src/images/404.png" alt="404" class="img-fluid" />
                    </div>
                    <h2 class="font-title--lg">Oops! page not found</h2>
                    <p>The page you are looking for is not found.</p>
                    <a href="/" class="button button--md">Back to Home</a>
                </div>
            </div>
        </section>

       

        <script src="src/lib/js/jquery.min.js"></script>
        <script src="src/lib/js/swiper-bundle.min.js"></script>
        <script src="src/lib/js/bvselect.js"></script>
        <script src="src/js/main.js"></script>
       
    </body>
</html>
