<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<body>
    <form action="" id="form">
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Submit</button>
    </form>
</body>

<script>
    const form = document.getElementById('form')
    form.addEventListener('submit',function (e){

        e.preventDefault()

        const payload=new FormData(form)
        console.log(...payload)
    })
</script>