        <section class="content-main">
            <form action="/admin/product-add" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <!--
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            -->
                            <button class="btn btn-md rounded font-sm hover-up" type="submit" >Save</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product name</label>
                                        <input name="name" type="text" placeholder="Type here" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea name="description" placeholder="Type here" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <select class="form-select" name="brand">
                                            <option> Luminous </option>
                                            <option> Microtek </option>
                                            <option> UTL </option>
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label" >MRP</label>
                                        <input type="text" placeholder="Rs. " name="mrp" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Selling Price</label>
                                        <input type="text" placeholder="Rs. " name="sp" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4" name="category">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" name="category">
                                            <option> Panels </option>
                                            <option> Inverters </option>
                                            <option> Batteries </option>
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <input class="form-control" type="file" name="images" accept="image/*" multiple>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </form>

        </section> <!-- content-main end// -->
        