
    <!-- dashboard Secton Start  -->
    <div class="dashboard section">
      <div class="container">
        <div class="row dashboard__content">
                    
                    






          <div class="col-lg-9 section--xl pt-0">
            <div class="container">
              <!-- Order History  -->
              <div class="dashboard__order-history">
                <div class="dashboard__order-history-title">
                  <h2 class="font-body--xxl-500">Order History</h2>
                </div>
                <div class="dashboard__order-history-table">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Order Id
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Date
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Total
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Status
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          ></th>
                        </tr>
                      </thead>
                      <tbody id="tableBody">

                        

                      </tbody>
                    </table>
                  </div>
                  <div class="dashboard__order-pagination">
                    <nav
                      aria-label="Page navigation pagination--one"
                      class="pagination-wrapper"
                    >
                      <ul class="pagination justify-content-center" id="pagin">
                        
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- dashboard Secton  End  -->


<script>
  document.addEventListener('DOMContentLoaded', () => {
    submitForm(1)
});

  async function submitForm(page) {
    let data = {}; // Assuming you intended to set the page as 10 here, not 1
    data.limit=10
    data.page=page
    const res=await fetch('/order-history-paging', {
        method: 'post',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) // Send data directly, without wrapping it
    });
    if(res.status==200){
    const {orders,pages}=await res.json()
    document.getElementById('pagin').innerHTML=userPagination(page,pages)
    document.getElementById('tableBody').innerHTML=tableContent(orders,data.limit)
    }
 
}

  

  function userPagination(page,pages){
    let data =``
    

    data+=`<li class="page-item pagination-item">
    <a class="page-link pagination-link" onclick="submitForm(1)" tabindex="-1">
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.91663 1.16634L1.08329 6.99967L6.91663 12.833" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </li>
                `;
    for(i=1;i<=pages+4;i++){
            if(i==page){
                data+=`<li class="page-item pagination-item"><a class="page-link pagination-link active" onclick="submitForm(${i})">${i}</a></li>
                `
            }
            else{
                data+=`<li class="page-item pagination-item"><a class="page-link pagination-link " onclick="submitForm(${i})">${i}</a></li>
                `

            }
            
    };        
    
    data+=`       <li class="page-item pagination-item"> <a class="page-link pagination-link" onclick="submitForm(${pages})">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.08337 1.16634L6.91671 6.99967L1.08337 12.833" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </li>`;
    return data
}

function tableContent(orders,limit){
  let tableItems=''
  for(i=0;i<limit;i++){
    tableItems+=`
    <tr>
                          <!-- Order Id  -->
                          <td
                            class="dashboard__order-history-table-item order-id"
                          >
                            ${orders[i].order_id}
                          </td>
                          <!-- Date  -->
                          <td
                          id="datecell-${orders[i]._id}"
                            class="
                              dashboard__order-history-table-item
                              order-date
                            "
                            >
                           ${orders[i].createdAt}


                          </td>
                          <!-- Total  -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              order-total
                            "
                          >
                            <p class="order-total-price">
                              Rs. ${orders[i].total}
                              <!--<span class="quantity"> (4 Products)</span>-->
                            </p>
                          </td>
                          <!-- Status -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              order-status
                            "
                          >
                            ${orders[i].status}
                          </td>
                          <!-- Details page  -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              order-details
                            "
                          >
                            <a href="order-details?_id=${orders[i]._id}"> View Details</a>
                          </td>
                        </tr>
    `
  }
  return tableItems
}

</script>