body {
  width: 100%;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form{
  width: 100%;
}
.form-group{
  width: 100%;
}
button{
  border-width: 0cap;
}